{{> header}}

<main>
    <h1>Favorite Charities</h1>
    <ul>
        {{#each favoriteCharities}}
            <li>
                <h4>{{this.charityName}}</h4>
                <p>EIN: {{this.ein}}</p>
                <p><a href="{{this.url}}">{{this.donationUrl}}</a></p>
                <p>City: {{this.city}}</p>
                <p>State: {{this.state}}</p>
                <p>Category: {{this.category}}</p>
            </li>
        {{/each}}
    </ul>
</main>
<form method="POST" action="/
{{> footer}}
  <!-- When you "add to favorites" you should be using a POST method from your HTML form, 
  and then in the Express route you can use res.redirect("/favorites") 
  to send the user to a different GET route to reload the HTML -->