{{> header}}

<main style="margin-bottom: 100px">
    <h1>Favorite Charities</h1>
    <p>Click the "X" symbol to remove a charity and update your list.</p>
    <ul>
        {{#each user.favoriteCharities}}
            <li>
                <h4>{{this.charityName}}</h4>
                <p>EIN: {{this.ein}}</p>
                <p><a href="{{this.url}}">{{this.donationUrl}}</a></p>
                <p>City: {{this.city}}</p>
                <p>State: {{this.state}}</p>
                <p>Category: {{this.category}}</p>
                <form action="/favorites" method="post">
                    <input type="hidden" name="data" value="{{ein}}" />
                    <button class="remove-btn" style="color: red; font-size: 20px; font-weight: bold;">❌</button>
                </form>

            </li>
        {{/each}}
    </ul>
</main>
