{{> header}}
<main>
  <h1>Welcome to Charity Connect</h1>
  <div class="photo-container">
    <img src="charitypic.png" style="width: 200px; height: auto;">
  </div>
  {{#unless isLoggedIn}}
  <p><span style="font-weight: bold; font-style: italic;">Find your cause today.</span></p>
  <p>Please login or create an account to start browsing charities.</p>
  <button class="btn" onclick="window.location.href='/login'">Login</button>
  <button class="btn" onclick="window.location.href='/signup'">Sign Up</button>
  {{/unless}}

  {{#if isLoggedIn}}
  <form action="/search" method="GET">
    <input type="text" name="charity" placeholder="Search for a cause">
    <button type="submit">search</button>
  </form>

  {{#if charities}}
  <h3>Search Results:</h3>
   <p>Click the star icon to add a charity to your favorites list.</p>
  <ul>
    {{#each charities}}
    <li>
      <h4>{{charityName}}</h4>
      <p>ein: {{ein}}</p>
      <p><a href="{{url}}" class="donation-link">{{donationUrl}}</a></p>
      <p>City: {{city}}</p>
      <p>State: {{state}}</p>
      <p>Category: {{category}}</p>
       <form action="/favorites" method="post">
        <input type="hidden" name="data" value="{{data}}" />
        <button class="favorite-btn" type="submit">&#9733;</button>
      </form>
    </li>
    {{/each}}
  </ul>
  {{/if}}
  {{/if}}
</main>
<style>
    .favorite-btn {
        font-size: 40px; 
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .favorite-btn:hover {
        color: gold;
    }
</style>


