{{> header}}
<main>
  <h1>Welcome to Charity Connect!</h1>
  <p>Currently, you are {{#unless isLoggedIn}} NOT {{/unless}} logged in.</p>
  <p>You should {{#unless isLoggedIn}}NOT{{/unless}} be able to access <a href="/private">this page</a>.</p>
  <p>Use the header above to {{#if isLoggedIn}} logout{{else}} login or create an account{{/if}}.</p>
  <form action="/search" method="GET">
      <input type="text" name="charity" placeholder="Search for a cause">
      <button type="submit">search</button>
  </form>
   <h2>Search Results:</h2>
  <ul>
    {{#each charities}}
      <li>
        <h3>{{charityName}}</h3>
        <p><a href="{{url}}">{{url}}</a></p>
        <p>city: {{city}}</p>
      </li>
    {{/each}}
  </ul>
</main>
</main>
