{{> header}}
<main>
  <h1>Welcome to Charity Connect</h1>
   <img src="../public/charitypic.png" alt="Charity Pic">
  {{#unless isLoggedIn}}
    <p>Please login or create an account to start browsing charities.</p>
    <button class="btn" onclick="window.location.href='/login'">Login</button>
    <button class="btn" onclick="window.location.href='/signup'">Sign Up</button>
  {{/unless}}
  
  {{#if isLoggedIn}}
    <form action="/search" method="GET">
      <input type="text" name="charity" placeholder="Search for a cause">
      <button type="submit">search</button>
    </form>

  {{#if charities}}
   <h2>Search Results:</h2>
  <ul>
    {{#each charities}}
      <li>
        <h4>{{charityName}}</h4>
        <p>ein: {{ein}}</p>
        <p><a href="{{url}}">{{donationUrl}}</a></p>
        <p>City: {{city}}</p>
        <p>State: {{state}}</p>
        <p>Category: {{category}}</p>
      <button class="favorite-btn" data-charity="{{data}}"> Add to Favorites </button>
      </li>
    {{/each}}
  </ul>
  {{/if}}
{{/if}}
</main>
<script>
  
  const favoriteButtons = document.querySelectorAll (".favorite-btn")
  console.log (favoriteButtons)
  favoriteButtons.forEach((favoriteButton)=>{
    favoriteButton.addEventListener("click",()=>{
      //console.log ("hi")
      console.log (JSON.stringify(favoriteButton.dataset.charity))
    })
  })
</script>
